<h1 align="center">News By Player</h1>
<% @playernews.each do |player| %>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="well well-lg">
      <div class="text-center">
        <%= player
      </div>
    </div>
  </div>
</div>
<% end %>
